:host,
.pizza-builder-container {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #2e3744;
}

.pizza-creator-container {
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    align-self: flex-start;
    box-shadow: 0 1px 54px rgba(0, 0, 0, 0.27);
    padding: 20px 30px;
    overflow-y: auto;
    max-height: 100%;
}

.order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.order-header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
}

.order-header .back-btn {
    background: none;
    cursor: pointer;
    color: #97c747;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
}

@media (max-width: 768px) {
    .pizza-builder-container {
        width: unset;
        flex-direction: column;
        background: #2e3744;
        align-items: center;
    }

    .pizza-creator-container {
        top: 250px;
        margin: 0;
        overflow-y: unset;
    }
}

